form {
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(7, 7, 7, 0.893);
    background-color: black;
    margin-bottom: 3em;
    width: 90%;
    max-width: 800px;
    box-sizing: border-box;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    row-gap: 20px;
    column-gap: 10px;
    align-items: center;
    background-color: black;
    padding: 20px;
}

@media (max-width: 768px) {
    .form-container {
        grid-template-columns: 1fr;
    }
}

.input-label-left,
.input-label-right {
    font-size: 16px;
    color: #ffffff;
    font-family: monospace;
    text-align: left;
}

.input-label-right {
    text-align: right;
}

form input {
    width: 100%;
    padding: 18px 10px;
    font-size: 18px;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    margin: 10px 0;
}

form button {
    margin: 1em auto;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #ffffff;
    color: black;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    font-family: monospace;
    font-weight: bolder;
    display: block;
}

input:focus {
    outline: none;
    border-color: #ffffff;
    box-shadow: 0 0 8px rgb(255, 255, 255);
}

h2 {
    color: #ffffff;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
    font-family: monospace;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    text-align: center;
    color: white;
    margin: 1em 0;
}